.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.box{
    width: 40px;
    height: 40px;
    border: 1px solid cornflowerblue;
    display:inline-block;

}
.board{
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    width: 150px;
    line-height: 32px;
    font-weight: bold;
}